h3 {
    text-align: center;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.label {
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 0px;
}

.label-large {
    font-size: 14px;
    overflow: hidden;
}

.stat-box {
    margin: 5%;
    width: 95%;
}